.main-bar {
    width: 100dvw;
    height: 48px;
    box-sizing: border-box;

    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: black;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main-bar * {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.25em;
}

.main-bar #quit-button {
    margin-left: 0px;
}

.main-bar #title {
    font-size: 24px;
}

.main-bar #push-right {
    margin-left: auto;
}

.cue-table {
    width: 100%;
    max-height: 90%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.cue-table .row {
    height: 2.75em;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    box-sizing: border-box;

    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: background-color 0.1s ease-in-out;
}

.cue-table .row:nth-child(even) {
    background-color: #212121;
}

.cue-table .row:hover {
    background-color: #333333;
}

.cue-table .row.header {
    background-color: #121212;
    border-radius: 12px 12px 0px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.cue-table .row.header .cell p {
    font-weight: bold;
}

.cue-table .row:nth-last-child(1) {
    border-radius: 0px 0px 12px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.cue-table .row.header:nth-last-child(1) {
    border-radius: 12px 12px 12px 12px;
}

.cue-table .row .cell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cue-table .row .cell p {
    display: inline;
    margin: 0px;
}

.cue-table .row .cell.goto-button {
    width: 2.25em;
    height: 2.25em;
}

.cue-table .row .cell.select-checkbox {
    width: 2.25em;
    height: 2.25em;
}

.cue-table .row .cell.cue-id {
    width: 3em;
    height: 2.25em;
}

.cue-table .row .cell.description {
    width: 50%;
    height: 2.25em;
}

.cue-table .row .cell.notes {
    width: 50%;
    height: 2.25em;
}

.cue-table .row .cell.edit-button {
    width: 2.25em;
    height: 2.25em;
}