<div class="scaffold">
    <div class="main-bar">
        <button class="icon-button opens-dialog" id="quit-button" title="Quit..." onclick="toggleDialog('quit-dialog');">
            <span class="material-symbols-outlined">power_settings_circle</span>
        </button>
        <h1 id="title"></h1>
        <div id="push-right"></div>
        <button class="icon-button" id="blackout-button" title="Enter full blackout" onclick="socket.emit('blackout');">
            <span class="material-symbols-outlined">bedtime</span>
        </button>
        <button class="icon-button" id="previous-cue-button" title="Previous cue" onclick="show?.jumpToCue(show.currentCue-1);">
            <span class="material-symbols-outlined">skip_previous</span>
        </button>
        <button class="icon-button" id="next-cue-button" title="Next cue" onclick="show?.jumpToCue(show.currentCue+1);">
            <span class="material-symbols-outlined">skip_next</span>
        </button>
        <button class="icon-button" id="save-button" title="Save" onclick="show?.save();">
            <span class="material-symbols-outlined">save</span>
        </button>
        <button class="icon-button opens-dialog" id="import-button" title="Import cue sheet..." onclick="toggleDialog('import-dialog');">
            <span class="material-symbols-outlined">upload_file</span>
        </button>
        <button class="icon-button" id="scenery-button" title="Scenery View" onclick="loadPageview('scenery');">
            <span class="material-symbols-outlined">photo_frame</span>
        </button>
        <button class="icon-button opens-dialog" id="netmon-button" title="Network Monitor" onclick="toggleDialog('netmon-dialog');">
            <span class="material-symbols-outlined">vital_signs</span>
        </button>
    </div>

    <div class="toolbar none-selected">
        <div class="toolbar-mode none-selected">
            <button class="icon-button opens-dialog" title="Add cue..." onclick="show?.addCue(); toggleDialog('configure-cue-dialog');">
                <span class="material-symbols-outlined">add</span>
            </button>
        </div>

        <div class="toolbar-mode one-selected">
            <button class="icon-button opens-dialog" title="Edit cue..." onclick="show?.editCue(show.selectedCues[0]); toggleDialog('configure-cue-dialog');">
                <span class="material-symbols-outlined">edit</span>
            </button>
            <button class="icon-button" title="Move cue up" onclick="socket.emit('move_cues_up', show.selectedCues);">
                <span class="material-symbols-outlined">arrow_upward</span>
            </button>
            <button class="icon-button" title="Move cue down" onclick="socket.emit('move_cues_down', show.selectedCues);">
                <span class="material-symbols-outlined">arrow_downward</span>
            </button>
            <button class="icon-button" title="Delete cue" onclick="show?.deleteCue(show.selectedCues[0]);">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </div>

        <div class="toolbar-mode multiple-selected">
            <button class="icon-button" title="Move cues up" onclick="socket.emit('move_cues_up', show.selectedCues);">
                <span class="material-symbols-outlined">arrow_upward</span>
            </button>
            <button class="icon-button" title="Move cues down" onclick="socket.emit('move_cues_down', show.selectedCues);">
                <span class="material-symbols-outlined">arrow_downward</span>
            </button>
            <button class="icon-button" title="Delete cues" onclick="show?.deleteSelectedCues();">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </div>
    </div>

    <div class="cue-table-container">
        <div class="cue-table">
            <div class="row header">
                <div class="cell goto-button"></div>
                <div class="cell select-checkbox">
                    <label class="checkbox"><input type="checkbox"><span></span></label>
                </div>
                <div class="cell cue-id"><p>ID</p></div>
                <div class="cell description"><p>Description</p></div>
                <div class="cell notes"><p>Notes</p></div>
                <div class="cell edit-cue"></div>
                <div class="cell delete-cue"></div>
            </div>
        </div>
    </div>

    <button class="keyboard-mode" onclick="this.blur(); this.classList.toggle('active');">
        <p id="active">KB ACTIVE</p>
        <p>KB INACTIVE</p>
    </div>

    <div class="dialog closed" id="configure-cue-dialog">
        <h1>Configure cue...</h1>
        <input type="text" placeholder="Description" id="configured-cue-description">
        <input type="text" placeholder="Notes" id="configured-cue-notes">

        <div class="command-list"></div>

        <button class="text-button" onclick="toggleDialog('add-command-dialog');">Add Command</button>

        <div class="button-row">
            <button class="text-button" onclick="closeDialog('configure-cue-dialog');">Cancel</button>
            <button class="text-button primary" onclick="show?.applyCueConfiguration(); closeDialog('configure-cue-dialog');">Configure</button>
        </div>
    </div>

    <div class="dialog closed" id="add-command-dialog">
        <h1>Add command...</h1>

        <div class="subsystem-tab-bar">
            <input type="radio" id="radio-mixer-tab" name="subsystem-tab" checked />
            <label class="subsystem-tab" for="radio-mixer-tab"><h5>Mixer</h5></label>
            <input type="radio" id="radio-lights-tab" name="subsystem-tab" />
            <label class="subsystem-tab" for="radio-lights-tab"><h5>Lights</h5></label>
            <input type="radio" id="radio-spotlight-tab" name="subsystem-tab" />
            <label class="subsystem-tab" for="radio-spotlight-tab"><h5>Spotlight</h5></label>
            <input type="radio" id="radio-audio-tab" name="subsystem-tab" />
            <label class="subsystem-tab" for="radio-audio-tab"><h5>Audio</h5></label>
            <input type="radio" id="radio-scenery-tab" name="subsystem-tab" />
            <label class="subsystem-tab" for="radio-scenery-tab"><h5>Scenery</h5></label>
            <input type="radio" id="radio-misc-tab" name="subsystem-tab" />
            <label class="subsystem-tab" for="radio-misc-tab"><h5>Misc.</h5></label>
            <div class="tab-selector"></div>
        </div>

        <div class="available-commands">
            <button class="available-command mixer-command" onclick="show?.addCommand('mixer.enable_channels'); openDialog('configure-command-dialog');"><p>Enable channels</p></button>
            <button class="available-command mixer-command" onclick="show?.addCommand('mixer.disable_channels'); openDialog('configure-command-dialog');"><p>Disable channels</p></button>
            <button class="available-command mixer-command" onclick="show?.addCommand('mixer.set_faders_on_channels'); openDialog('configure-command-dialog');"><p>Set faders on channels</p></button>
            <button class="available-command mixer-command" onclick="show?.addCommand('mixer.mute_group'); openDialog('configure-command-dialog');"><p>Mute group</p></button>
            <button class="available-command mixer-command" onclick="show?.addCommand('mixer.unmute_group'); openDialog('configure-command-dialog');"><p>Unmute group</p></button>

            <button class="available-command lights-command" onclick="show?.addCommand('lights.jump_to_cue'); openDialog('configure-command-dialog');"><p>Jump to cue</p></button>
            <button class="available-command lights-command" onclick="show?.addCommand('lights.switch_playback'); openDialog('configure-command-dialog');"><p>Switch playback</p></button>

            <button class="available-command spotlight-command" onclick="show?.addCommand('spotlight.change_guide'); openDialog('configure-command-dialog');"><p>Change guide</p></button>

            <button class="available-command audio-command" onclick="show?.addCommand('audio.play'); openDialog('configure-command-dialog');"><p>Play</p></button>
            <button class="available-command audio-command" onclick="show?.addCommand('audio.stop'); openDialog('configure-command-dialog');"><p>Stop</p></button>

            <button class="available-command scenery-command" onclick="show?.addCommand('scenery.change_backdrop_to_image'); openDialog('configure-command-dialog');"><p>Change backdrop to image</p></button>
            <button class="available-command scenery-command" onclick="show?.addCommand('scenery.change_backdrop_to_video'); openDialog('configure-command-dialog');"><p>Change backdrop to video</p></button>
            <button class="available-command scenery-command" onclick="show?.addCommand('scenery.enter_scenery_blackout'); openDialog('configure-command-dialog');"><p>Enter scenery blackout</p></button>
            <button class="available-command scenery-command" onclick="show?.addCommand('scenery.exit_scenery_blackout'); openDialog('configure-command-dialog');"><p>Exit scenery blackout</p></button>
        </div>

        <button class="text-button" onclick="closeDialog('add-command-dialog');">Cancel</button>
    </div>

    <div class="dialog closed" id="configure-command-dialog">
        <h1>Configure command...</h1>

        <form id="command-field-container"></form>

        <div class="button-row">
            <button class="text-button" onclick="closeDialog('configure-command-dialog');">Cancel</button>
            <button class="text-button primary" onclick="show?.applyCommandConfiguration();">Configure</button>
        </div>
    </div>

    <div class="dialog closed" id="quit-dialog">
        <h1>Quit...</h1>
        <button class="text-button" onclick="socket.emit('shutdown_network');">Shut down Tech Deck network</button>
        <button class="text-button primary" onclick="loadPageview('homepage');">Select new show</button>
    </div>

    <div class="dialog closed" id="netmon-dialog">
        <h1>Network Monitor</h1>
        <p id="client-ping">Ping to host: pending...</p>
        <button class="text-button primary" onclick="socket.emit('promote');">Promote this node to master</button>
    </div>

    <div class="dialog closed" id="import-dialog">
        <h1>Import cue sheet...</h1>
        <input type="file">
        <div class="button-row">
            <button class="text-button" onclick="closeDialog('import-dialog');">Cancel</button>
            <button class="text-button primary" onclick="show?.importCueSheet(); closeDialog('import-dialog');">Import</button>
        </div>
    </div> 
</div>