<div class="scaffold">
    <div class="main-bar">
        <button class="icon-button opens-dialog" id="quit-button" title="Quit..." onclick="toggleDialog('quit-dialog');">
            <span class="material-symbols-outlined">power_settings_circle</span>
        </button>
        <h1 id="title"></h1>
        <div id="push-right"></div>
        <button class="icon-button opens-dialog" id="netmon-button" title="Network Monitor" onclick="toggleDialog('netmon-dialog');">
            <span class="material-symbols-outlined">vital_signs</span>
        </button>
        <button class="icon-button" id="blackout-button" title="Toggle blackout" onclick="show.toggleBlackout();">
            <span class="material-symbols-outlined">dark_mode</span>
        </button>
    </div>

    <div id="cue-table-container">
        <table id="cue-table">
            <thead>
                <tr>
                    <th class="jump-button-entry"></th>
                    <th class="select-checkbox-entry"></th>
                    <th class="id-entry">ID</th>
                    <th class="description-entry">Description</th>
                    <th class="notes-entry">Notes</th>
                    <th class="edit-entry"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="jump-button-entry">
                        <button class="icon-button" title="Jump to cue">
                            <span class="material-symbols-outlined">play_circle</span>
                        </button>
                    </td>
                    <td class="select-checkbox-entry">
                        <input type="checkbox" />
                    </td>
                    <td class="id-entry">1</td>
                    <td class="description-entry">first cue</td>
                    <td class="notes-entry">asdf</td>
                    <td class="edit-entry">
                        <button class="icon-button" title="Jump to cue">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="jump-button-entry">
                        <button class="icon-button" title="Jump to cue">
                            <span class="material-symbols-outlined">play_circle</span>
                        </button>
                    </td>
                    <td class="select-checkbox-entry">
                        <input type="checkbox" />
                    </td>
                    <td class="id-entry">2</td>
                    <td class="description-entry">second cue</td>
                    <td class="notes-entry">lkjsdfgjsdl</td>
                    <td class="edit-entry">
                        <button class="icon-button" title="Jump to cue">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="dialog closed" id="quit-dialog">
        <h1>Quit...</h1>
        <button class="text-button" onclick="socket.emit('shutdown_network');">Shut down Tech Deck network</button>
        <button class="text-button primary" onclick="loadPageview('homepage');">Select new show</button>
    </div>

    <div class="dialog closed" id="netmon-dialog">
        <h1>Network Monitor</h1>
        <p id="client-ping">Ping to host: pending...</p>
        <button class="text-button primary" onclick="socket.emit('promote');">Promote this node to master</button>
    </div>
</div>