.main-bar {
    width: 100dvw;
    height: 48px;
    box-sizing: border-box;

    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: black;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main-bar * {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.25em;
}

.main-bar #quit-button {
    margin-left: 0px;
}

.main-bar #title {
    font-size: 24px;
}

.main-bar #push-right {
    margin-left: auto;
}

.cue-table {
    width: 100%;
    max-height: 90%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.cue-table .row {
    height: 2.75em;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    box-sizing: border-box;

    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: background-color 0.1s ease-in-out;
}

.cue-table .row:nth-child(even) {
    background-color: #212121;
}

.cue-table .row:hover {
    background-color: #333333;
}

.cue-table .row.active {
    background-color: var(--light-purple);
}

.cue-table .row.header {
    background-color: #121212;
    border-radius: 12px 12px 0px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.cue-table .row.header .cell p {
    font-weight: bold;
}

.cue-table .row:nth-last-child(1) {
    border-radius: 0px 0px 12px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.cue-table .row.header:nth-last-child(1) {
    border-radius: 12px 12px 12px 12px;
}

.cue-table .row .cell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cue-table .row .cell p {
    display: inline;
    margin: 0px;
}

.cue-table .row .cell.goto-button {
    min-width: 2.25em;
    min-height: 2.25em;
    max-width: 2.25em;
    max-height: 2.25em;
}

.cue-table .row .cell.select-checkbox {
    min-width: 2.25em;
    min-height: 2.25em;
    max-width: 2.25em;
    max-height: 2.25em;

    justify-content: center;
}

.cue-table .row .cell.cue-id {
    min-width: 3em;
    min-height: 2.25em;
    max-width: 3em;
    max-height: 2.25em;

    padding-left: 0.5em;
}

.cue-table .row .cell.description {
    width: 50%;
    height: 2.25em;
}

.cue-table .row .cell.notes {
    width: 50%;
    height: 2.25em;
}

.cue-table .row .cell.edit-button {
    min-width: 2.25em;
    min-height: 2.25em;
    max-width: 2.25em;
    max-height: 2.25em;
}

#configure-cue-dialog {
    width: 50%;
}

.command-list {
    width: 100%;
}

.command {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.command p {
    font-size: 0.85em;
}

#add-command-dialog {
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.subsystem-tab-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    width: 31.5em;
    height: 1.5em;

    padding: 0.25em 0.25em 0.25em 0.25em;

    border-radius: 8px;

    background-color: #212121;
}

.subsystem-tab {
    padding-left: 0.75em;
    padding-right: 0.75em;

    border-radius: 8px;

    width: 3.75em;

    cursor: pointer;
}

.subsystem-tab > h5 {
    position: relative; /* just for the z-index */
    text-align: center;
    line-height: 1.5em; /* we leave exactly 1.5em of space for this line, thus it must be vertically centered https://css-tricks.com/centering-css-complete-guide/ */
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1001;
}

.tab-selector {
    position: absolute;

    width: 3.75em;
    height: 1.5em;

    padding-left: 0.75em;
    padding-right: 0.75em;

    border-radius: 8px;

    background-color: #333333;

    transition: transform 0.2s ease-in-out;
}

input[type=radio] {
    display: none;
}

.subsystem-tab-bar input#radio-mixer-tab:checked ~ .tab-selector {
    transform: translateX(-250%);
}

.subsystem-tab-bar input#radio-lights-tab:checked ~ .tab-selector {
    transform: translateX(-150%);
}

.subsystem-tab-bar input#radio-spotlight-tab:checked ~ .tab-selector {
    transform: translateX(-50%);
}

.subsystem-tab-bar input#radio-audio-tab:checked ~ .tab-selector {
    transform: translateX(50%);
}

.subsystem-tab-bar input#radio-scenery-tab:checked ~ .tab-selector {
    transform: translateX(150%);
}

.subsystem-tab-bar input#radio-misc-tab:checked ~ .tab-selector {
    transform: translateX(250%);
}

.available-commands {
    overflow-y: auto;
    margin-top: 0.5em;
}

.available-command {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
}

.available-command:hover {
    background-color: #212121;
}

.available-command:active {
    background-color: #333333;
}

.available-command p {
    margin: 0px;
    text-align: start;
}

.available-command.mixer-command {
    display: none;
}

.available-command.lights-command {
    display: none;
}

.available-command.spotlight-command {
    display: none;
}

.available-command.audio-command {
    display: none;
}

.available-command.scenery-command {
    display: none;
}

.available-command.misc-command {
    display: none;
}

#add-command-dialog:has(input#radio-mixer-tab:checked) .available-command.mixer-command {
    display: block;
}

#add-command-dialog:has(input#radio-lights-tab:checked) .available-command.lights-command {
    display: block;
}

#add-command-dialog:has(input#radio-spotlight-tab:checked) .available-command.spotlight-command {
    display: block;
}

#add-command-dialog:has(input#radio-audio-tab:checked) .available-command.audio-command {
    display: block;
}

#add-command-dialog:has(input#radio-scenery-tab:checked) .available-command.scenery-command {
    display: block;
}

#add-command-dialog:has(input#radio-misc-tab:checked) .available-command.misc-command {
    display: block;
}

#configure-command-dialog {
    width: 60%;
}

#configure-command-dialog > #command-field-container {
    width: 100%;
}