<div class="main-bar">
    <button class="icon-button opens-dialog" title="Quit..." onclick="toggleDialog('quit-dialog');">
        <span class="material-symbols-outlined">power_settings_circle</span>
    </button>
    <h1 id="title"></h1>
    <div id="push-right"></div>
    <button class="icon-button" id="blackout-button" title="Toggle blackout" onclick="show.toggleBlackout();">
        <span class="material-symbols-outlined">dark_mode</span>
    </button>
</div>

<div class="dialog closed" id="quit-dialog">
    <h1>Quit...</h1>
    <button class="text-button">Shut down Tech Deck network</button>
    <button class="text-button">Restart Tech Deck</button>
    <button class="text-button primary" onclick="loadPageview('homepage');">Select new show</button>
</div>