
.backdrop-container {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    cursor: none !important;
}

img, video {
    width: 100%;
    height: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.backdrop-container.primary-to-secondary .primary {
    animation: fadeout 1.25s ease-in-out 1;
    z-index: 0;
}

.backdrop-container.primary-to-secondary .secondary {
    animation: fadein 1.25s ease-in-out 1;
    z-index: 1000;
}

.backdrop-container.secondary-to-primary .primary {
    animation: fadein 1.25s ease-in-out 1;
    z-index: 1000;
}

.backdrop-container.secondary-to-primary .secondary {
    animation: fadeout 1.25s ease-in-out 1;
    z-index: 0;
}