
.backdrop-container {
    width: 100dvw;
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    cursor: none !important;
}

.primary, .secondary {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100dvw;
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    transition: opacity 1.25s ease-in-out;
}

img, video {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.backdrop-container:not(.switch-to-secondary) .primary {
    opacity: 100%;
}

.backdrop-container:not(.switch-to-secondary) .secondary {
    opacity: 0%;
}

.backdrop-container.switch-to-secondary .primary {
    opacity: 0%;
}

.backdrop-container.switch-to-secondary .secondary {
    opacity: 100%;
}