
.backdrop-container {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    cursor: none !important;
}

.backdrop-container.blackout img, .backdrop-container.blackout video {
    display: none;
}

img, video {
    width: 100%;
    height: 100%;
}