
:root {
    --purple: #5f1ab7;
    --light-purple: #773cc2;
}

body {
    background-color: #121212;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.material-icons {
    font-weight: 800 !important;
}

button.text-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.75%;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

button.text-button:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

button.text-button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

button.text-button.primary {
    background-color: var(--purple);
}

button.text-button.primary:active {
    background-color: var(--light-purple);
}

button.icon-button {
    background-color: transparent;
    border: none;
    padding: 0px;
}

button.icon-button > span {
    color: white;
    border-radius: 8px;
    padding: 6px;
    display: block; /* https://stackoverflow.com/questions/6540163/a-few-extra-pixels-of-height-where-could-they-be-coming-from */
    /* vertical-align: middle; also works */
    transition: background-color 0.1s ease-in-out, color 0.15s ease-in-out;
    cursor: pointer;
}

button.icon-button:hover > span {
    background-color: rgba(255, 255, 255, 0.125);
}

button.icon-button:active > span {
    background-color: rgba(255, 255, 255, 0.2);
}

button.icon-button.primary > span {
    background-color: var(--purple);
}

button.icon-button.toggle-enabled > span {
    color: var(--purple);
}

input[type=text], input[type=number] {
    border: none;
    outline: none;
    background-color: #212121;
    color: #BBBBBB;
    padding: 1em 2em 1em 2em;
    margin-bottom: 0.75em;
    border-radius: 8px;
}

input[type=file] {
    color: #ffffff;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 10%;
}

label.checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

label.checkbox input {
    position: absolute;
    opacity: 0%;
    width: 0px;
    height: 0px;
    cursor: pointer;
}

label.checkbox span {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #212121;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: background-color 0.1s ease-in-out;
}

label.checkbox:hover span {
    background-color: #333333;
}

label.checkbox input:checked ~ span {
    background-color: var(--purple);
}

label.checkbox span::after {
    content: "";
    position: absolute;
    transform: translateX(85%) translateY(15%) rotate(40deg) scaleX(0%) scaleY(0%);
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0px 2.5px 2.5px 0px;
    transition: transform 0.1s ease-in-out;
}

label.checkbox input:checked ~ span::after {
    transform: translateX(85%) translateY(15%) rotate(40deg) scaleX(100%) scaleY(100%);
}

label.checkbox p {
    margin-left: 0.5em;
}

.scaffold {
    width: 100dvw;
    height: 100dvh;
}

.scaffold.center-on-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.dialog {
    z-index: 1000;

    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    max-width: 75dvw;
    max-height: 75dvh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: black;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;

    padding: 2dvh 2dvw 2dvh 2dvw;

    transition: transform 0.15s ease-in-out;
}

.dialog.closed {
    transform: translateY(250%) scaleX(0%) scaleY(50%);
}

.dialog button.text-button {
    width: 100%;
    height: 2.5em;
    margin-top: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
}

.dialog button.text-button.primary {
    margin-top: 0.5em;
}

.dialog .button-row {
    width: 100%;
    height: 2.5em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.dialog .button-row button.text-button:not(.primary) {
    margin-right: 0.5em;
}

.dialog input[type=text], .dialog input[type=number] {
    width: 90%;
}