
.scaffold {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title-text-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.homepage-button-bar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.homepage-button-bar.hidden {
    display: none;
}

.homepage-button-bar > button.text-button {
    margin-left: 2%;
    margin-right: 2%;
}